 # Byte-compiled / optimized / DLL files
 __pycache__/
 *.py[cod]
 *$py.class

 # C extensions
 *.so

 # Distribution / packaging
 .Python
 build/
 dist/
 eggs/
 parts/
 bin/
 var/
 sdist/
 develop-eggs/
 *.egg-info/
 .installed.cfg
 *.egg

 # Installer logs
 pip-log.txt
 pip-delete-this-directory.txt

 # Unit test / coverage reports
 .tox/
 .pytest_cache/
 htmlcov/
 coverage.xml

 # Virtual environments
 venv/
 .venv/

 # IDEs and editors
 .idea/
 .vscode/
 *.sublime-workspace

 # macOS
 .DS_Store

 # env files
 .env
 .env.*

 # Jupyter
 .ipynb_checkpoints

 # Wheels
 pip-wheel-metadata/

 # PyInstaller
 #  Usually these files are written by a python script from a template
 *.manifest
 *.spec
